@charset "utf-8";
/* CSS Document */
body{
	 font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	 background-color: #99CCFF;

}

.header{
    position: absolute;

    }

button{
position: relative;
background:none;
border: none;
float: right;
top: 10px;
right: 10px;
z-index: 999;
width: 30px;

}

button:hover{
	border: none;
	background: none;
	padding-top: 5px;

}

button:focus,button:active{
	border: none;
	background-color:#3F98F3;
	padding-top: 5px;
	outline: none;
	border-radius:50%;

}




nav{
	position:relative;
    top:10px;
	width:windowWidth;
    float:left;
	}

nav li{
	display:block;
	background:url('lib/pic/me03.png');
    background-size:contain;
    background-repeat:no-repeat;
	padding:30px;
	transition-property:background-img;
    float:left;
	}
nav li:hover{
	background:url('lib/pic/me04.png');
    background-size:contain;
    background-repeat:no-repeat;
	padding:30px;
}

nav li a{
	width:100%;
	height:100%;
	display:block;
	text-decoration: none;
	color:#fff;
	cursor:help;
	}
nav li a:hover{
	color:#fff;
   text-decoration:underline;
	}


.content{
   font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	position: absolute;
    text-align: center;
	top:50px;
	margin: 5%;
	color:#fff;
	}

td {
  float: left;
  width:50%;
  margin-top: 50px;
}

td:hover{
	background:#3F98F3;
    border-radius:100%;
	}
td:focus,td:active{
    border: none;
    background-color:#3F98F3;
    padding-top: 10px;
    outline: none;
    border-radius:100%;

}

#footer{
    position:relative;
}
#footer p{
    margin-top:50px;
    margin-bottom: 20px;
    text-align:center;
}



@media (max-width: 760px) {
	.content{
   top:120px;
   width:100%;
   margin:0;
   color: #FFFFFF;
     }
td {
  float: left;
  width:100%;
  margin-top: 50px;
}

#footer{
    position:relative;
}
#footer p{
    margin-top:50px;
    margin-bottom: 20px;
    text-align:center;
    font-size: 13px;
}
	}

